* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    margin: auto;
    max-width: 640px;
    min-width: 520px;
}

main{
    display: inline-block;
}

.navigation{
    background-color: rgb(123, 209, 145);
    background-size:cover;
}

ul{
    list-style-type: none;
    padding: 1%;
    object-fit: cover;
    text-align: center;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact{
    justify-content: end;
}

p{
    text-align: start;
}

li{
    display: none; /*remove display to make menu come back*/
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0);/*control colors of menu*/
}

section.padding{
    padding-inline: 5%;
    margin-top: 5%;
}

button.white{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 3px;
    font-size: 10px;
}

button.black{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-size: cover;
    padding: 2% 2%;
    background-image: url("/10-rwdExercicio/images/menu_icon.png");
}

button.green{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: rgb(123, 209, 145);
    padding: 7px;
}

.info{
    background-image: url(/10-rwdExercicio/images/landing-page-banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    padding-inline: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    font-size: 10px;
}

article.grids{
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-bottom: 2%;
    text-align: center;
}

footer.socials{
    background-color: rgb(32, 32, 32);
    display: flex;
    color: rgba(255, 255, 255, 0);
    align-items: center;
    padding-inline: 5%;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.learn{
    font-size: 0px;
}

@media screen and (min-width:640px){

    * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }

    html, body{
        margin: auto;  
        overflow: auto;
        background-color: rgb(32, 32, 32);
    }
    
    main{
        display: inline-block;
        background-color: white;
    }
    
    .navigation{
        background-color: rgb(123, 209, 145);
        background-size:auto;
    }
    
    ul{
        list-style-type: none;
        padding: 1%;
        object-fit: cover;
        text-align: center;
        align-items: center;
        gap: 15px;
        display: flex;
        justify-self: flex-start;
    }

    li.direita{
        display: flex;
        justify-self: flex-end;
    }
    
    p{
        text-align: start;
    }
    
    li{
        display: flex; /*remove display to make menu come back*/
    }


    a{
        text-decoration: none;
        color: rgb(255, 255, 255);/*control colors of menu*/
    }
    
    section.padding{
        padding-inline: 5%;
        margin-top: 5%;
    }
    
    button.white{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: white;
        padding: 3px;
        font-size: 10px;
    }
    
    button.black{
        display: none;
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-size: cover;
        padding: 2% 2%;
        background-image: url("/10-rwdExercicio/images/menu_icon.png");
    }
    
    button.green{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(123, 209, 145);
        padding: 7px;
    }
    
    .info{
        background-image: url(/10-rwdExercicio/images/landing-page-banner.jpg);
        background-repeat: no-repeat;
        background-size:contain;
        border-radius: 0%;
        padding-inline: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        color: white;
        font-size: 10px;
        padding-bottom: 20%;
    }
    
    article.grids{
        padding-top: 5%;
        padding-bottom: 5%;
        margin-inline: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5%;
        margin-bottom: 2%;
        text-align: center;
    }

    article.grids img{
        width: 100%;
    }
    
    footer.socials{
        background-color: rgb(32, 32, 32);
        display: flex;
        color: rgb(255, 255, 255);
        align-items: center;
        padding-inline: 5%;
        margin-top: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: space-between;

    }

    .learn{
        font-size: 10px;
    }

}