* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html, body{
    margin: auto;
    min-width: 100%;
}

main{
    min-width: 100%;
    display: inline-block;
}

.navigation{
    background-color: rgb(123, 209, 145);
    background-size:cover;
}

ul{
    list-style-type: none;
    padding: 1%;
    object-fit: cover;
    text-align: center;
    gap: 15px;
    display: flex;
    align-items: start;
}

.contact{
    justify-content: end;
}

p{
    text-align: start;
}

li{
    display: none; /*remove display to make menu come back*/
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0);/*control colors of menu*/
}

section.padding{
    padding-inline: 5%;
    margin-top: 5%;
}

button.white{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 10px;
}

button.black{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-size: cover;
    padding: 2% 2%;
    background-image: url("/site1/10-rwdExercicio/images/menu_icon.png");
}

.start{
    display: flex;
    flex: 1;
}

button.green{
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 5px;
    color: rgb(123, 209, 145);
    padding: 7px;
}

.info{
    background-image: url("/site1/10-rwdExercicio/images/landing-page-banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 200px;
    border-radius: 5px;
    padding-inline: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    color: white;
    font-size: 15px;
}

h1{
    font-size: 25px;
}

article.grids{
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-bottom: 2%;
    text-align: center;
}

footer.socials{
    background-color: rgb(32, 32, 32);
    display: flex;
    color: rgba(255, 255, 255, 0);
    align-items: center;
    gap: 15px;
    padding-inline: 5%;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.learn{
    font-size: 0px;
}


/*home-tablet*/
@media screen and (min-width:640px){

    * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }

    html, body{
        min-width: 100%;
        margin: auto;  
        overflow: auto;
        background-color: rgb(32, 32, 32);
    }
    
    main{
        min-width: 100%;
        display: inline-block;
        background-color: white;
    }
    
    .navigation{
        background-color: rgb(123, 209, 145);
        background-size:auto;
        font-size: 20px;
    }

    
    ul.mainmenu{
        display: flex;
        list-style-type: none;
        padding: 1%;
        object-fit: cover;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
    
    .esquerda{
        flex:1;
    }
    
    p{
        text-align: start;
    }
    
    li{
        display: flex; /*remove display to make menu come back*/
    }


    a{
        text-decoration: none;
        color: rgb(255, 255, 255);/*control colors of menu*/
    }
    
    section.padding{
        padding-inline: 5%;
        margin-top: 5%;
    }
    
    button.white{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 10px;
        color: white;
        padding: 15px;
        font-size: 15px;
    }
    
    button.black{
        display: none;
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-size: cover;
        padding: 2% 2%;
        background-image: url("/site1/10-rwdExercicio/images/menu_icon.png");
    }

    .start{
        display: flex;
        flex: 0;
    }
    
    button.green{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(123, 209, 145);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-inline: 20px;
        font-size: 25px;
    }
    
    .info{
        background-image: url("/site1/10-rwdExercicio/images/landing-page-banner.jpg");
        background-repeat: no-repeat;
        background-size:contain;
        border-radius: 0%;
        padding-inline: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        color: white;
        font-size: 20px;
        padding-bottom: 20%;
    }

    h1{
        font-size: 25px;
    }
    
    article.grids{
        padding-top: 0%;
        padding-bottom: 5%;
        margin-inline: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5%;
        margin-bottom: 2%;
        text-align: center;
    }

    .bottom1{
        grid-column: 2;
        grid-row: 2;
    }
    .bottom2{
        grid-column: 3;
        grid-row: 2;
    }
    .top1{
        grid-column: 2;
        grid-row: 1;
    }
    .top2{
        grid-column: 3;
        grid-row: 1;
    }

    article.grids img{
        min-width: 275px;
    }
    
    footer.socials{
        background-color: rgb(32, 32, 32);
        display: flex;
        color: rgb(255, 255, 255);
        align-items: center;
        gap: 15px;
        padding-inline: 5%;
        margin-top: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .learn{
        flex: 1;
        font-size: 20px;
    }

}

/*Home-desktop*/
@media screen and (min-width:1040px){

    * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }

    html, body{
        min-width: 100%;
        margin: auto;  
        overflow: auto;
        background-color: rgba(32, 32, 32, 0);
    }
    
    main{
        min-width: 100%;
        display: inline-block;
        background-color: white;
    }
    
    .navigation{
        background-color: rgb(123, 209, 145);
        background-size:auto;
        font-size: 25px;
    }

    
    ul.mainmenu{
        display: flex;
        list-style-type: none;
        padding: 1%;
        object-fit: cover;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
    
    .esquerda{
        flex:1;
    }
    
    p{
        text-align: start;
    }
    
    li{
        display: flex; /*remove display to make menu come back*/
    }


    a{
        text-decoration: none;
        color: rgb(255, 255, 255);/*control colors of menu*/
    }
    
    section.padding{
        padding-inline: 5%;
        margin-top: 5%;
    }
    
    button.white{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 15px;
        color: white;
        padding: 25px;
        font-size: 25px;
    }
    
    button.black{
        display: none;
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-size: cover;
        padding: 2% 2%;
        background-image: url("/site1/10-rwdExercicio/images/menu_icon.png");
    }
    
    button.green{
        background-color: rgba(240, 248, 255, 0);
        border-style: solid;
        border-radius: 5px;
        color: rgb(123, 209, 145);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-inline: 25px;
        font-size: 25px;
    }
    
    .info{
        background-image: url("/site1/10-rwdExercicio/images/landing-page-banner.jpg");
        background-repeat: no-repeat;
        background-size:contain;    
        border-radius: 0%;
        padding-inline: 5%;
        padding-top: 5%;
        color: white;
        font-size: 35px;
        padding-bottom: 20%;
    }
    
    h1{
        font-size: 55px;
    }
    
    article.grids{
        padding-top: 0%;
        padding-bottom: 5%;
        margin-inline: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap: 5%;
        margin-bottom: 2%;
        text-align: center;
    }

    .bottom1{
        grid-column: 1;
        grid-row: 1;
    }
    .bottom2{
        grid-column: 2;
        grid-row: 1;
    }
    .top1{
        grid-column: 3;
        grid-row: 1;
    }
    .top2{
        grid-column: 4;
        grid-row: 1;
    }


    article.grids img{
        min-width: 350px;
    }
    
    footer.socials{
        background-color: rgb(32, 32, 32);
        display: flex;
        color: rgb(255, 255, 255);
        align-items: center;
        gap: 15px;
        padding-inline: 5%;
        margin-top: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .learn{
        flex: 1;
        font-size: 20px;
    }

}