/* ******** Estilos GLOBAIS ************ */



/* mini reset css */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Inconsolata, monospace;
    font-weight: 400;
    background-color: lightgray;
}

/* links */
a:link{
    text-decoration: none;
    color: darkslategray;
}
a:visited {
    color: darkgrey
}
a:hover{
    color: tomato;
}

a.active {
    color: tomato;
    font-weight: 800;
}


/* dar padding e centrar */
.center-pad-top{
    text-align: center;
    padding: 10px 0;
}



/* ********************* MAIN ****************************** */

main {
    width: 80%;
    min-width: 800px;
    max-width: 1240px;
    margin: 50px auto;
    padding: 2em ;
    border: 8px double darkslategray;
    border-radius: 12px;

    background-color: white;


}

main > * {
    width: 600px;
    margin: 20px auto;
}


/* ********************* Bloco do Header  ************************ */

/* header {
    text-align: center;
} */

header span{
    display: block;
    line-height: .7em;
    font-weight: 400;
    text-transform: uppercase;
}

header span.analog {
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.2em;
}



/* ********************* Bloco  NAV  *****************/

nav ul {
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    width: 20%;
    text-align: center;

    
}


/* ********************* Bloco  Section  Contents  *****************/
/* section.contents h1 {
    text-align: center;
} */

section.contents img {
    filter: grayscale(0.9);
}

/* section.contents {
    text-align: justify;
} */



/* ********************* Bloco  footer *****************/
footer {
    border-top: 1px solid gray;
   /*  padding: 10px 0;
   text-align: center; */
} 







