@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.944);
    color: rgb(255, 145, 0);
    font-family: "Jersey 10", sans-serif;
    font-size: normal;
    font-weight: 100;
    padding-inline:10px;
    overflow-x: hidden;
    letter-spacing: 1px;
}
img{
    max-width: 200px;
}
