
/*---------------STYLES----------------------*/

#menu{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

#menu h3{
    margin-right: auto;
}

#li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit; 
}

#canva{
    width: 100%;
    display: block;
}
#screen{
    width: 100%;
}

#MY-SKILLS-SECTION{
    padding-inline: 50px;
}
#MY-EXPERIENCE{
    padding-inline: 50px;
}

#skills-title{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#experience-subtitles{
    display: flex;
    justify-content: center;
    border-style: dashed;
    padding-inline: 20px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

#skills-frontend{
    margin-bottom: 20px;
    margin-TOP: 20px;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    gap: 10px;
    border-style: dashed;
}

#skills-backend{
    margin-bottom: 20px;
    border-style: dashed;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}


#my-experience{
    margin-bottom: 20px;
    margin-top: 40px;
    border-style: dashed;
    border-radius: 10px;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.line{
    padding-top: 20px;
    border-style: dashed;
    border-right: none;
    border-left: none;
    border-top: none;
}
.line2{
    padding-top: 20px;
    border-style: double;
    border-right: none;
    border-left: none;
    border-top: none;
    padding-inline: 50%;
}