


@keyframes type{
    0%{
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    25%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    75%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
    100%{
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
}

.type{
    animation: type linear;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

@keyframes rotate{
  50% {
    transform: rotateY(180deg);
  }
}

.rotation:hover{
    animation: rotate 0.7s linear;
}


@keyframes log{
    
}

.log{
    overflow: hidden;
    animation: log linear forward;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    
}

.pulse{
    display: inline-block;
    animation: pulse 2s infinite;
}


@keyframes pulse{
  0%, 100% {
    box-shadow: 0 0 10px 5px rgba(255, 145, 0, 0.547);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 153, 0, 0.9);
  }
}

.btn:hover{
    animation: pulse 1s infinite;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 40px hsl(12, 100%, 60%);
  }
}
.transition{
    animation: transition 4s infinite;
}

@keyframes transition {
    25%, 75%{
        transform: scale3d(1, 1, 1);
    }
    0%, 100%{
        transform: scale3d(0, 0, 0);
    }
}