@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.944);
    color: rgb(233, 133, 1);
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    letter-spacing: 1px;
}
img{
    width: 100%;
}


